#title {
    height: 80px;
    width: 1350px;
    border: 2px solid #ffffff;
    background-color: rgb(41, 42, 92);
    text-align: center;
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#timer {
    height: 30px;
    width: 1350px;
}

#scrollingbox {
    left: 100px;
    height: 480px;
    width: 400px;
    border: 2px solid #ffffff;
    z-index: 999;
    overflow-y: scroll;
}

#maingamebox {
    height: 480px;
    width: 1000px;
    border: 2px solid #ffffff;
    background: radial-gradient(rgb(189, 200, 202), rgb(142, 158, 201))
}

.littlebox {
    margin-top: 10px;
    height: 50px;
    width: 360px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    font-size: xx-large;
    border: #ffffff solid 1px;
    background: radial-gradient(rgb(189, 200, 202), rgb(142, 158, 201));
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#image1 {
    background-size: 100%;
    top: 104px;
    height: 480px;
    width: 950px;
    z-index: 10;
    position: fixed;
}

#hint {
    position: absolute;
    height: 80px;
    width: 80px;
    top: 490px;
    left: 875px;
    background-image: url("hint.png");
    background-size: 100%;
    z-index: 999;
}

.glow {
    position: fixed;
    animation: glow 1s ease-in-out infinite alternate;
    border-radius: 50%;
    box-shadow: 0 0 25px 15px rgba(255, 255, 0, 1);
    z-index: 10000;
  }
  
      
@keyframes glow {
    from {
        box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.7);
    } to {
        box-shadow: 0 0 25px 15px rgba(255, 255, 0, 1);
    }
}

#bodycontent {
    margin-top: 10px;;
    height: 450px;
    width: 1350px;
    display: flex;
    gap: 10px;
    bottom: 20px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(5, 190px); /* extra so we have room to scroll */
    grid-template-rows: repeat(3, 155px);
    gap: 5px;
    position: relative;
    left: 0; /* we'll move this with JS */
    transition: left 0.1s linear;
    border-radius: 20px;
    border: 3px solid #000000;
    z-index: 999;
}


#grid div {
    width: 190px;
    height: 155px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    z-index: 999;
}

.umbrella {
    background-image: url("umbrella.png");
    background-size: 100%;
    z-index: 999;
}
.shell {
    background-image: url("shell.png");
    background-size: 100%;
    z-index: 999;
}
.flower {
    background-image: url("flower.png");
    background-size: 100%;
    z-index: 999;
}
.dice {
    background-image: url("dice.png");
    background-size: 100%;
    z-index: 999;
}
.phone {
    background-image: url("phone.png");
    background-size: 100%;
    z-index: 999;
}
.extinguisher {
    background-image: url("extinguisher.png");
    background-size: 100%;
    z-index: 999;
}
.basketball {
    background-image: url("basketball.png");
    background-size: 100%;
    z-index: 999;
}
.cone {
    background-image: url("trafficcone.png");
    background-size: 100%;
    z-index: 999;
}
.target {
    background-image: url("target.png");
    background-size: 100%;
    z-index: 999;
}
.books {
    background-image: url("books.png");
    background-size: 100%;
    z-index: 999;
}
.shoes {
    background-image: url("shoes.webp");
    background-size: 100%;
    z-index: 999;
}
.pencil {
    background-image: url("pencil.png");
    background-size: 100%;
    z-index: 999;
}
.comb {
    background-image: url("comb.png");
    background-size: 100%;
    z-index: 999;
}
.perfume {
    background-image: url("perfume.png");
    background-size: 100%;
    z-index: 999;
}
.shirt {
    background-image: url("shirt.webp");
    background-size: 100%;
    z-index: 999;
}
.teddy {
    background-image: url("teddy.png");
    background-size: 100%;
    z-index: 999;
}
.fish {
    background-image: url("fish.png");
    background-size: 100%;
    z-index: 999;
}
.cake {
    background-image: url("cake.webp");
    background-size: 100%;
    z-index: 999;
}
.crystal {
    background-image: url("crystal.png");
    background-size: 100%;
    z-index: 999;
}
.megaphone {
    background-image: url("megaphone.webp");
    background-size: 100%;
    z-index: 999;
}