body {
    background-color: rgb(41, 42, 92);
    position: relative;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#title {
    height: 80px;
    width: 1350px;
    border: 2px solid #ffffff;
    background: linear-gradient(rgb(189, 200, 202), rgb(142, 158, 201));
    text-align: center;
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#timer {
    height: 30px;
    width: 1350px;
}

#scrollingbox {
    left: 100px;
    height: 480px;
    width: 400px;
    border: 2px solid #ffffff;
    z-index: 999;
    overflow-y: scroll;
}

#maingamebox {
    height: 480px;
    width: 1000px;
    border: 2px solid #ffffff;
    background: radial-gradient(rgb(189, 200, 202), rgb(142, 158, 201))
}

.littlebox {
    margin-top: 10px;
    height: 50px;
    width: 360px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    font-size: xx-large;
    border: #ffffff solid 1px;
    background: radial-gradient(rgb(189, 200, 202), rgb(142, 158, 201));
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#image1 {
    background-size: 100%;
    top: 104px;
    height: 480px;
    width: 950px;
    z-index: 10;
    position: fixed;
}

#hint {
    position: fixed;
    height: 80px;
    width: 80px;
    top: 490px;
    left: 875px;
    background-image: url("hint.png");
    background-size: 100%;
}

#bodycontent {
    margin-top: 10px;;
    height: 450px;
    width: 1350px;
    display: flex;
    gap: 10px;
    bottom: 20px;
}

#timerwrapper {
    display: flex;
    align-items: flex-end;
    width: 20px;
    height: 400px;
    background: #333;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 160px;
    left: 20px;
}
  
#timerbar {
    width: 100%;
    height: 100%;
    background-color: red;
    border: #ffffff solid 2px;
    border-radius: 20px;
    transition: height 0.3s linear;
}

#score {
    margin-top: 5px;
    margin-left: 5px;
    height: 20px;
    width: 150px;
    background-color: rgb(200, 201, 142);
    border: #ffffff 2px solid;
    z-index: 999;
    position: fixed;
}

#cover {
    height: 40px;
    width: 60px;
    background-image: url("cover.png");
    background-size: 100%;
    left: 200px;
    top: 450px;
    position: fixed;
    z-index: 99;
}

#lamp {
    height: 40px;
    width: 60px;
    background-image: url("lamp.png");
    background-size: 100%;
    left: 200px;
    top: 450px;
    position: fixed;
    z-index: 99;
}

#keys {
    height: 55px;
    width: 60px;
    background-image: url("keys.png");
    background-size: 100%;
    left: 335px;
    top: 516px;
    position: fixed;
    z-index: 99;
}

#sunglasses {
    height: 45px;
    width: 100px;
    background-image: url("sunglasses.png");
    background-size: 100%;
    left: 650px;
    top: 510px;
    position: fixed;
    z-index: 99;
}

#cup {
    height: 35px;
    width: 40px;
    background-image: url("cup.png");
    background-size: 100%;
    left: 680px;
    top: 360px;
    position: fixed;
    z-index: 99;
}