body {
    background-color: rgb(41, 42, 92);
    position: relative;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#title {
    height: 80px;
    width: 1350px;
    border: 2px solid #ffffff;
    background-color: rgb(41, 42, 92);
    text-align: center;
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#timer {
    height: 30px;
    width: 1350px;
}

#scrollingbox {
    left: 100px;
    height: 480px;
    width: 600px;
    border: 2px solid #ffffff;
    z-index: 999;
    overflow-y: scroll;
}

#maingamebox {
    height: 480px;
    width: 1800px;
    border: 2px solid #ffffff;
    background: radial-gradient(rgb(189, 200, 202), rgb(142, 158, 201))
}

.littlebox {
    margin-top: 10px;
    height: 50px;
    width: 360px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    font-size: xx-large;
    border: #ffffff solid 1px;
    background: radial-gradient(rgb(189, 200, 202), rgb(142, 158, 201));
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#image1 {
    background-size: 100%;
    top: 104px;
    height: 480px;
    width: 950px;
    z-index: 10;
    position: fixed;
}

#hint {
    position: absolute;
    height: 80px;
    width: 80px;
    top: 490px;
    left: 875px;
    background-image: url("hint.png");
    background-size: 100%;
    z-index: 999;
}

.glow {
    position: fixed;
    animation: glow 1s ease-in-out infinite alternate;
    border-radius: 50%;
    box-shadow: 0 0 25px 15px rgba(255, 255, 0, 1);
    z-index: 10000;
  }
  
      
@keyframes glow {
    from {
        box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.7);
    } to {
        box-shadow: 0 0 25px 15px rgba(255, 255, 0, 1);
    }
}

#bodycontent {
    margin-top: 10px;;
    height: 450px;
    width: 1350px;
    display: flex;
    gap: 10px;
    bottom: 20px;
}

#timerwrapper {
    display: flex;
    align-items: flex-end;
    width: 20px;
    height: 400px;
    background: #333;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 160px;
    left: 20px;
}
  
#timerbar {
    width: 100%;
    height: 100%;
    background-color: red;
    border: #ffffff solid 2px;
    border-radius: 20px;
    transition: height 0.3s linear;
    z-index: 999;
}

#score {
    margin-top: 5px;
    margin-left: 5px;
    height: 20px;
    width: 150px;
    background-color: rgb(200, 201, 142);
    border: #ffffff 2px solid;
    z-index: 999;
    position: fixed;
}

#cover {
    height: 120px;
    width: 151px;
    background-image: url("cover2.png");
    background-size: 100%;
    left: 10px;
    top: 460px;
    position: fixed;
    z-index: 10;
}

#cat {
    height: 40px;
    width: 60px;
    background-image: url("cat.png");
    background-size: 100%;
    left: 200px;
    top: 450px;
    position: fixed;
    z-index: 99;
}

#drum {
    height: 55px;
    width: 60px;
    background-image: url("drum.png");
    background-size: 100%;
    left: 335px;
    top: 516px;
    position: fixed;
    z-index: 99;
}

#sunflower {
    height: 45px;
    width: 100px;
    background-image: url("sunflower.png");
    background-size: 100%;
    left: 650px;
    top: 510px;
    position: fixed;
    z-index: 99;
}

#bird {
    height: 25px;
    width: 30px;
    background-image: url("bird2.png");
    background-size: 100%;
    left: 680px;
    top: 370px;
    position: fixed;
    z-index: 99;
}

#chess {
    height: 80px;
    width: 35px;
    background-image: url("chess.png");
    background-size: 100%;
    left: 200px;
    top: 250px;
    position: fixed;
    z-index: 99;
}

#bench {
    height: 90px;
    width: 35px;
    background-image: url("bench.png");
    background-size: 100%;
    left: 300px;
    top: 250px;
    position: fixed;
    z-index: 99;
}

#ship {
    height: 65px;
    width: 60px;
    background-image: url("ship.png");
    background-size: 100%;
    left: 640px;
    top: 300px;
    position: fixed;
    z-index: 99;
}

#dog {
    height: 50px;
    width: 50px;
    background-image: url("dog.png");
    background-size: 100%;
    left: 420px;
    top: 245px;
    position: fixed;
    z-index: 99;
}

#vase {
    height: 50px;
    width: 50px;
    background-image: url("vase2.png");
    background-size: 100%;
    left: 420px;
    top: 245px;
    position: fixed;
    z-index: 99;
}

#flamingo {
    height: 35px;
    width: 50px;
    background-image: url("flamingo.png");
    background-size: 100%;
    left: 495px;
    top: 360px;
    position: fixed;
    z-index: 99;
    border-radius: 30%;
}

.heart {
    height: 50px;
    width: 50px;
    background-image: url("heart.png");
    background-size: 100%;
}

#lives {
    display: flex;
    gap: 5px;
    z-index: 20;
    position: fixed;
    top: 110px;
    left: 790px;
}

.heart.lost {
    opacity: 0;
    transition: opacity 0.5s ease;
}

#overlayscreen {
    position: fixed;
    top: 120px;
    left: 300px;
    height: 400px;
    width: 750px;
    border-radius: 30px;
    background-color: rgb(41, 42, 92);
    border: 3px solid #ffffff;
    z-index: 9000;
    display: none;
}

#overlayscreen2 {
    position: fixed;
    top: 120px;
    left: 300px;
    height: 400px;
    width: 750px;
    border-radius: 30px;
    background-color: rgb(41, 42, 92);
    border: 3px solid #ffffff;
    z-index: 9000;
    display: block;
}

#overlayscreen3 {
    position: fixed;
    top: 120px;
    left: 300px;
    height: 400px;
    width: 750px;
    border-radius: 30px;
    background-color: rgb(41, 42, 92);
    border: 3px solid #ffffff;
    z-index: 9000;
    display: none;
}

#menubutton {
    position: fixed;
    height: 60px;
    width: 230px;
    top: 370px;
    left: 370px;
    z-index: 9999;
    display: none;
}

#button2 {
    position: fixed;
    height: 60px;
    width: 230px;
    top: 370px;
    left: 750px;
    z-index: 9999;
    display: none;
}

#button3 {
    position: fixed;
    height: 60px;
    width: 230px;
    top: 370px;
    left: 750px;
    z-index: 9999;
    display: none;
}

#grid {
    position: fixed;
    border-radius: 20px;
    border: 3px solid #000000;
    display: grid;
    grid-template-columns: repeat(10, 95px);
    grid-template-rows: repeat(3,155px);
    z-index: 999;
}

#grid div {
    width: 95px;
    height: 155px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    z-index: 999;
}

#remaininghints {
    position: fixed;
    background-color: rgb(54, 148, 148) ;
    left: 100px;
    top: 400px;
    z-index: 99;
}