body {
    background-color: rgb(41, 42, 92);
    position: relative;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#title {
    height: 80px;
    width: 1350px;
    border: 2px solid #ffffff;
    background: linear-gradient(rgb(189, 200, 202), rgb(142, 158, 201));
    text-align: center;
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#timer {
    height: 30px;
    width: 1350px;
}

#scrollingbox {
    left: 100px;
    height: 480px;
    width: 400px;
    border: 2px solid #ffffff;
    z-index: 999;
    overflow-y: scroll;
}

#maingamebox {
    height: 480px;
    width: 1000px;
    border: 2px solid #ffffff;
    background: radial-gradient(rgb(189, 200, 202), rgb(142, 158, 201))
}

.littlebox {
    margin-top: 10px;
    height: 50px;
    width: 360px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    font-size: xx-large;
    border: #ffffff solid 1px;
    background: radial-gradient(rgb(189, 200, 202), rgb(142, 158, 201));
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#image1 {
    background-size: 100%;
    top: 104px;
    height: 480px;
    width: 950px;
    z-index: 10;
    position: fixed;
}

#hint {
    position: absolute;
    height: 80px;
    width: 80px;
    top: 490px;
    left: 875px;
    background-image: url("hint.png");
    background-size: 100%;
    z-index: 999;
}

.glow {
    position: fixed; /* needs position so box-shadow actually shows */
    animation: glow 1s ease-in-out infinite alternate;
    border-radius: 50%;
    box-shadow: 0 0 25px 15px rgba(255, 255, 0, 1);
    z-index: 10000; /* keep it above everything */
  }
  
      
@keyframes glow {
    from {
        box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.7);
    } to {
        box-shadow: 0 0 25px 15px rgba(255, 255, 0, 1);
    }
}

#bodycontent {
    margin-top: 10px;;
    height: 450px;
    width: 1350px;
    display: flex;
    gap: 10px;
    bottom: 20px;
}

#timerwrapper {
    display: flex;
    align-items: flex-end;
    width: 20px;
    height: 400px;
    background: #333;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 160px;
    left: 20px;
}
  
#timerbar {
    width: 100%;
    height: 100%;
    background-color: red;
    border: #ffffff solid 2px;
    border-radius: 20px;
    transition: height 0.3s linear;
    z-index: 999;
}

#score {
    margin-top: 5px;
    margin-left: 5px;
    height: 20px;
    width: 150px;
    background-color: rgb(200, 201, 142);
    border: #ffffff 2px solid;
    z-index: 999;
    position: fixed;
}

#cover {
    height: 120px;
    width: 151px;
    background-image: url("cover2.png");
    background-size: 100%;
    left: 10px;
    top: 460px;
    position: fixed;
    z-index: 10;
}

#lamp {
    height: 40px;
    width: 60px;
    background-image: url("lamp.png");
    background-size: 100%;
    left: 200px;
    top: 450px;
    position: fixed;
    z-index: 99;
}

#keys {
    height: 55px;
    width: 60px;
    background-image: url("keys.png");
    background-size: 100%;
    left: 335px;
    top: 516px;
    position: fixed;
    z-index: 99;
}

#sunglasses {
    height: 45px;
    width: 100px;
    background-image: url("sunglasses.png");
    background-size: 100%;
    left: 650px;
    top: 510px;
    position: fixed;
    z-index: 99;
}

#cup {
    height: 25px;
    width: 30px;
    background-image: url("cup.png");
    background-size: 100%;
    left: 680px;
    top: 370px;
    position: fixed;
    z-index: 99;
}

#pinkvase {
    height: 80px;
    width: 35px;
    background-image: url("pinkvase.png");
    background-size: 100%;
    left: 200px;
    top: 250px;
    position: fixed;
    z-index: 99;
}

#bluescarf {
    height: 90px;
    width: 35px;
    background-image: url("bluescarf.png");
    background-size: 100%;
    left: 300px;
    top: 250px;
    position: fixed;
    z-index: 99;
}

#bird {
    height: 65px;
    width: 60px;
    background-image: url("bird.png");
    background-size: 100%;
    left: 640px;
    top: 300px;
    position: fixed;
    z-index: 99;
}

#clock {
    height: 50px;
    width: 50px;
    background-image: url("clock.png");
    background-size: 100%;
    left: 420px;
    top: 245px;
    position: fixed;
    z-index: 99;
}

#clock {
    height: 50px;
    width: 50px;
    background-image: url("clock.png");
    background-size: 100%;
    left: 420px;
    top: 245px;
    position: fixed;
    z-index: 99;
}

#typewriter {
    height: 35px;
    width: 50px;
    background-image: url("typewriter.png");
    background-size: 100%;
    left: 495px;
    top: 360px;
    position: fixed;
    z-index: 99;
    border-radius: 30%;
    box-shadow: 10px 10px 10px #fff;
}

#mirror {
    height: 75px;
    width: 60px;
    background-image: url("mirror.png");
    background-size: 100%;
    left: 755px;
    top: 247px;
    position: fixed;
    z-index: 99;
}

#clock2 {
    height: 40px;
    width: 30px;
    background-image: url("clock2.png");
    background-size: 100%;
    left: 160px;
    top: 540px;
    position: fixed;
    z-index: 10;
    box-shadow: #ffffff;  
}

.heart {
    height: 50px;
    width: 50px;
    background-image: url("heart.png");
    background-size: 100%;
}

#lives {
    display: flex;
    gap: 5px;
    z-index: 20;
    position: fixed;
    top: 110px;
    left: 790px;
}

.heart.lost {
    opacity: 0;
    transition: opacity 0.5s ease;
}